
:root {
    --primary-color: #194D50;
}
.btn{
    position: relative;
    background-color: #f1f1f1;
    border: none;
    color: var(--primary-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid var(--primary-color);
    margin-bottom: 1rem;
}
.btn:hover {
    background-color: var(--primary-color);
    color: white;
}

.btn .arrow {
    margin-left: 5px;
    transition: transform 0.3s ease;
  }
  
  .btn:hover .arrow {
    transform: translateX(13px);
  }